html,
body {
    margin: 0;
    padding: 0;
}

.loader {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 98vh;
    align-items: center;
    justify-content: center;
    font-family: 'Titan One', cursive;
    font-size: 40px;

    &__text-upper {
        color: #102540;
    }

    &__text-ower {
        color: #b9941d;
        text-shadow: 2px 2px 3px #670805;
    }
}

.form-wrap {
    background-color: #fdb827;
    height: 100vh;
    display: flex;
    align-items: center;
}

.form-wrap:before {
    content: "";
    background: url("./../media/pirate.png");
    background-size: contain;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
}

.form-wrap:after {
    content: "";
    background: url("./../media/ship.png");
    background-size: contain;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.form {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'IM Fell English SC', serif;
    text-align: center;

    &__title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    &__blocks {
        position: relative;
    }

    .slide:nth-child(n+2) {
        display: none;
    }

    label {
        font-size: 22px;
        font-weight: 600;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
    }

    &__title-email,
    &__title-number {
        font-size: 20px;
        text-transform: uppercase;
        font-style: italic;
    }


    &__item {
        text-align: center;
        font-family: 'IM Fell English SC', serif;
        font-size: 20px;
    }

    input {
        width: 226px;
        flex: none;
        height: 25px;
    }

    #place {
        width: 230px;
        height: 31px;
    }

    #feedback {
        text-align: left;
        padding: 10px;
    }

    #submit {
        width: auto;
        height: auto;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        border: none;
        background: no-repeat;
        outline: none;
    }

    .prev {
        left: -70px;
    }

    .next {
        position: absolute;
        right: -70px;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
    }

    &__submit-button {
        display: none;
        background-color: #51288b;
        border: none;
        border-radius: 3px;
        color: #fff;
        font-family: 'IM Fell English SC', serif;
        font-size: 16px;
        padding: 10px 25px;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.errormessage {
    display: inline-block;
    color: red;
    margin: 10px;
}

.audio {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: 25px;
}